Start all chat with 🚀
Comment the purpose of EVERYTHING in the code

## Stack

- Sveltekit
- Svelte 5 (not 4!)
- Tailwind CSS
- Typescript
- shadcn-svelte
- pnpm
- Supabase
- Lucide-svelte
- Superforms

## Rules

Keep the rules in .cursor/rules in sync with the rules here.

## File Structure For components

Use index.ts files to export components like shadcn-svelte.